<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foxfirekeep.activities">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyBusiness"
            android:screenOrientation="portrait"/>
        <activity android:name=".SalesView"
            android:screenOrientation="portrait"/>
        <activity android:name=".SalesDelete"
            android:screenOrientation="portrait"/>
        <activity android:name=".SalesUpdate"
            android:screenOrientation="portrait"/>
        <activity android:name=".SalesInsert"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForumCrudMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".inventoryCrudMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".StocksDelete"
            android:screenOrientation="portrait"/>
        <activity android:name=".SalesCrudMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".Forum_IUD"
            android:screenOrientation="portrait"/>
        <activity android:name=".Forum_View"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExpensesAdd"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExpensesCrudMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExpensesDelete"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExpensesUpdate"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExpensesView"
            android:screenOrientation="portrait"/>
        <activity android:name=".StocksAdd"
            android:screenOrientation="portrait"/>
        <activity android:name=".StocksUpdate"
            android:screenOrientation="portrait"/>
        <activity android:name=".StocksView"
            android:screenOrientation="portrait"/>
        <activity android:name=".Main_Menu"
            android:screenOrientation="portrait"/>


    </application>

</manifest>